/* 
        #about-us {
            display: flex;
            justify-content: space-between;
            padding: 0px 60px;
            margin: 50px 0px 0px 0px;
        }

        #About2 {
            margin: -2px 149px -12px -187px;
            padding: 0px 92px 316px 106px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: "Montserrat", sans-serif;
        }

        #About2 .head1 h4 {
            font-size: 14px;
            font-weight: lighter;
            color: #888888;
            font-style: normal;
            line-height: 2.14286;
            letter-spacing: 4px;
            padding: 0px 0px 0px 116px;
            margin: 0px 0px 56px 0px;
        }

        .hhh h2 {
            margin: -80px 0px -56px 115px;
            padding: 40px 0px 67px 0px;
            font-size: 23px;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            color: #404044;
        }

        .bline h2 {
            margin: -80px 0px -65px 0px;
            padding: 40px 0px 67px 0px;
            color: #505cfd;
            font-size: 41px;
        } */