* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vh;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: linear-gradient(90deg, #5B0EDC 0%, #B33ADF 100%);
}

.navbar li {
    list-style: none;

}

.navbar li a {
    color: white;
    text-decoration: none;

}

#hero header nav div {
    display: flex;
    justify-content: left;
    margin-right: 100px;
    padding: 0px 100px;
}