        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }


        header {
            background: url("assets/banner-bg.jpg");
            height: 100vh;
            width: 100%;
        }

        header nav {

            display: flex;
            justify-content: space-between;
            width: 1364px;
            margin: 0px auto;
            padding: 45px 115px;
        }

        header nav li {
            list-style: none;
            margin: 19px 20px;
        }

        header nav ul {
            display: flex;
        }

        header nav ul li a {
            color: white;
            text-decoration: none;
        }

        header nav button {
            border: none;
            background-color: #ee626b;
            color: white;
            height: 40px;
            width: 92px;
            border-radius: 34px;
            margin: 0px 0px 0px -364px;
        }



        #hero {
            display: flex;
            /* border: 1px solid white; */
            margin: 68px auto 0% auto;
            width: 1113px;
        }


        #hero .d {
            width: 50%;
            /* border: 1px solid black; */
        }

        #hero #d1 h3 {
            color: white;
            font-size: 21px;
            font-weight: 500;
        }

        #hero #d1 #cl {
            color: white;
            width: 415px;
            /* border: 1px solid white; */
            margin: 10px 0px 35px 0px;
        }

        #hero #d1 #cl span {
            color: white;
            font-weight: 700;
            font-size: 45px;
            line-height: 56px;
        }

        #hero #d1 #cl img {
            height: auto;
            width: 204px;
            position: relative;
            top: 12px;
            right: 20px;
        }

        #hero #d1 h4 {
            color: white;
            font-size: 14px;
            font-weight: 400;
            width: 548px;
            line-height: 29px;
        }

        #hero #d1 form {
            display: flex;
            margin: 90px 0px 0px 0px;
        }

        #hero #d1 form input {
            background-color: white;
            border: none;
            padding: 14px 22px;
            width: 275px;
            border-radius: 32px;
        }

        #hero #d1 form button {
            border: none;
            background-color: #ee626b;
            color: white;
            padding: 0px 27px;
            border-radius: 38px;
            margin: 0px 0px 0px -45px;
            font-weight: 500;
        }

        #hero #d2 img {
            height: auto;
            width: 364px;
            margin: -33px 0% 0% auto;
            display: block;
            border-radius: 28px;
        }

        #d2 #s1 {
            position: relative;
            background-color: #008af8;
            color: white;
            font-weight: 600;
            padding: 4px 15px;
            left: 84%;
            top: 5%;
            font-size: 22px;
            border-radius: 39px;
        }

        #d2 #s2 {
            position: relative;
            background-color: #ee626b;
            color: white;
            font-weight: 600;
            padding: 31px 11px;
            left: 30%;
            bottom: 10%;
            font-size: 30px;
            border-radius: 75px;
        }